.output {
    width: 100px;
    text-align: center;
    font-size: 1em;
    margin-bottom: 25px;
}

button {
    padding: 10px;
    text-align: center;
    width: 100px;
}

.dicer {
    border: 1px solid black;
    width: 90px;
    height: 90px;
    padding: 2px;
    border-radius: 10px;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
