#p1,#p2 {
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 2px solid gold;
    padding: 5px;
    margin: 25px;
    text-align: center;
    font-size: 7em;
}

#output {
    width: 550px;
    text-align: center;
    font-size: 3em;
}

button {
    padding: 10px;
    text-align: center;
    width: 550px;
}